html {
  display: flex;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  padding-top: 2.3rem;
  padding-bottom: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.title {
  font-size: 2.8rem;
  font-weight: 900;
  padding-right: 3px;
  color: #fc3078;
}
.subtitle {
  font-size: 2rem;
  font-weight: 100;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
}

.desperationContainer {
  padding-bottom: 1.6rem;
}
#desperationHeading {
  font-weight: 200;
}
#levelValue {
  font-weight: 900;
  font-size: 2rem;
  float: left;
  padding-right: 3px;
}

.sliderContainer {
  padding-bottom: 3rem;
}

.show {
  display: visible;
}

.hide {
  display: none;
}

.miner {
  padding-top: 3rem;
  flex-direction: column;
}
.coinText {
  padding-bottom: 1rem;
}
